*.cl
 filter=lfs diff=lfs merge=lfs -text
*.Miniconda3-latest-MacOSX-x86_64[[:space:]]copy.sh filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
*.Miniconda3-latest-MacOSX-x86_64[[:space:]]copy.sh
 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
.sh filter=lfs diff=lfs merge=lfs -text
